html, body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;

    --blue: #4ca7dd;
}

body{
    display: grid;
    grid-template-rows: 0.07fr 1fr;
}

nav{
    background-color: var(--blue);
}

nav .container-fluid{
    padding: 0 100px;
}

.conteudo{
    padding: 0 100px;
    
}

.center-page{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

thead th, tbody td{
    text-align: center;
}
